.alert_info{
    width: 371px;
    height: 165px;
    background-color: #fff;
    position: absolute;
    top: 260px;
    left: 276px;
    z-index: 100;
    display: none;
}
.alert_info p{
    float: right;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    right: 8px;
    font-size: 20px;
    color: #000;
    line-height: 13px;
    text-align: center;
    cursor: pointer;
}
.alert_info p:hover{
    color: #fff;
}
.alert_info a{
    display: block;
    width: 45px;
    height: 24px;
    background-color: #289ad8;
    position: absolute;
    bottom: 11px;
    right: 12px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}
.alert_info span {
    display: block;
    position: absolute;
    bottom: 11px;
    top: 55px;
    margin-left: 80px;
}


.table_td_red{
    color: red;
    display: inline-block;
}

/* Ë°ÊÕ·ÖÀà±àÂëÑ¡Ôñ */
.proclass {
	width: 879px;
	height: 507px;
	background-color: #fff;
	position: absolute;
	top: 17px;
	left: 56px;
	z-index: 10;
	overflow: hidden;
	display: none;
}
.proclass .proclass_close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 8px;
    overflow: hidden;
    cursor: pointer;
}
.proclass .proclass_tit {
    height: 25px;
    position: absolute;
    top: 30px;
    left: 195px;
}
.proclass .proclass_tit input {
    display: block;
	position: absolute;
	top: 3px;
	left: 60px;
	width: 120px;
	height: 21px;
	outline: none;
}
.proclass .choi_scroll {
	width: 685px;
	height: 388px;
	overflow: scroll;
	position: absolute;
	top: 74px;
	left: 191px;
	z-index: 30;
}
.proclass .choi_scroll .choi_cont table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dfdfdf;
}
.proclass .choi_scroll .choi_cont table thead{
    background-color: #1487c6;
    color: #fff;
}
.proclass .choi_scroll .choi_cont table thead th{
    height: 25px;
    font-size: 14px;
    text-align: center;
}
.proclass .choi_scroll .choi_cont table thead th p {
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden;
}
.proclass .choi_scroll .choi_cont table .ta_left{
    width: 1%;
    background-color: #1487c6;
} 
.proclass .choi_scroll .choi_cont table tbody tr td{
    height: 20px;
    text-align: left;
    padding-left: 5px;
}
.proclass .choi_scroll .choi_cont table tbody tr td p {
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden;
}
	
.proclass .choi_scroll .choi_cont table tbody tr:hover{
	background-color: #7d95b9;
	cursor: pointer;
}
.operate_close{
	position: absolute;
	top: 54px;
	right: 107px;
	width: 52px;
	height: 52px;
	cursor: pointer;
	z-index: 100;
}